version: 2.1

# add your orb below, to be used in integration tests (note: a @dev:alpha
# release must exist.);
orbs:
  codecov: codecov/codecov@dev:alpha
  orb-tools: circleci/orb-tools@9.0

# Pipeline parameters
parameters:
  # These pipeline parameters are required by the "trigger-integration-tests-workflow"
  # job, by default.
  run-integration-tests:
    type: boolean
    default: false
  dev-orb-version:
    type: string
    default: "dev:alpha"

jobs:
  # This job is an example of an integration testing job.
  # This job should execute a command from your orb and verify
  # the output is as expected, otherwise the job should fail.
  #
  # Rename this job and add more as needed.
  #
  integration-test:
    executor: orb-tools/ubuntu
    steps:
      - checkout
      - run: sudo apt-get update
      - run: sudo apt-get install python3
      - run: sudo apt-get install python3-pip
      - run: sudo python3 -m pip install --upgrade pip
      - run: sudo pip install -r requirements.txt
      - run: python3 -m pytest --junitxml=junit/test-results.xml --cov=src --cov-report=xml --cov-report=html test/unit
      - codecov/upload:
          flags: backend

      - run: sudo apt-get install npm
      - run: sudo npm install -g npm@6.14.5
      - run: npm install
      - run: npm test
      - codecov/upload:
          file: coverage/coverage-final.json
          flags: frontend

workflows:
  # This `lint-pack_validate_publish-dev` workflow will run on any commit.
  lint_pack-validate_publish-dev:
    unless: << pipeline.parameters.run-integration-tests >>
    jobs:
      - orb-tools/lint

      - orb-tools/pack:
          requires:
            - orb-tools/lint

      - hold:
          type: approval # presents manual approval button in the UI
          requires:
            - orb-tools/pack

      # release dev version of orb, for testing & possible publishing.
      # orb will be published as dev:alpha and dev:${CIRCLE_SHA1:0:7}.
      - orb-tools/publish-dev:
          context: Codecov Orb Context
          orb-name: codecov/codecov
          publish-token-variable: ORB_PUBLISH_TOKEN
          requires:
            - hold

      # trigger an integration workflow to test the
      # dev:${CIRCLE_SHA1:0:7} version of your orb
      - orb-tools/trigger-integration-tests-workflow:
          name: trigger-integration-dev
          requires:
            - orb-tools/publish-dev

  integration-tests_prod-release:
    when: << pipeline.parameters.run-integration-tests >>
    jobs:
      # your integration test jobs go here: essentially, run all your orb's
      # jobs and commands to ensure they behave as expected. or, run other
      # integration tests of your choosing
      - integration-test

      - orb-tools/dev-promote-prod-from-commit-subject:
          add-pr-comment: false
          context: Codecov Orb Context
          fail-if-semver-not-indicated: false
          filters:
            branches:
              only: master
          orb-name: codecov/codecov
          publish-version-tag: false
          publish-token-variable: ORB_PUBLISH_TOKEN
          requires:
            - integration-test
